page-transaction-list {

	ion-header{
		ion-navbar ion-title, .toolbar-ios ion-title{
			padding-left:12px;
			padding-right:12px;
			.toolbar-title{
				text-align:left;
				line-height:8.5vw;
			}
		}
		ion-icon{

			margin-right:3vw;
		}

		button[ion-button]{
			float:right;
			height:3.5vh;
			background-color: forestgreen;
			color:#fff;
			font-size:2.15vh;
			font-family:"Calibri";
		}
	}

	ion-content{

		&.content .scroll-content{
			padding:2vw !important;
		}

		ion-row{

			&.headers{
				ion-col{
					font-weight: bolder;
					white-space:nowrap;
					font-size:2.15vh;
				}
			}

			ion-col{
				text-align:left;
				font-size:2vh;
			}

		}

		text-align:center;
		div.addProduct{
			height:30vw;
			width:30vw;
			display:inline-block;
			padding:2vw;	
			position:relative;

			img{
				display:block;
				clear:both;
				height:100%;
				width:100%;
			}
		}

		div.productBox{
			width:42.5vw;
			display:inline-block;
			position: relative;
			box-shadow:0 0 1px 1px #333;
			margin:1vh 2vw 0 0;
			border-radius:4px;
			color:#fff;
			background-color:rgba(30,30,30,0.8);
			padding:1vw 0;
			//background-color:rgba(30,30,30,0.4);
			p{
				margin:0;
				width: 100%;
				display:block;
				z-index:3;
				padding:1vw 0 1vw 2vw;
				font-size:2vh;
				&.brand{
					position:absolute;
					top:36vw;
					left:0;
					background-color:rgba(30,30,30,0.6);
				}
			}

			ion-slides{
				.swiper-slide{
					max-height:42.5vw;
					padding:2vw;
					.slide-zoom{
						max-height:39.5vw;
						background-color:#fff;
						img{
							max-height:39.5vw;
							height:39.5vw;
							object-fit:cover;
							object-position:center;
						}
					}
				}

			}
			span.imagelist{
				padding:1vw 2vw;
				position:relative;
				display:block;
				img{
					position:relative;
					
				}	
			}

			a.desc{
				color:#fff;
				font-weight:bolder;
				font-size:1.7vh;
				padding:1vw 0 1vw 2vw;
			}
		}

	}
}
