<!--
  Generated template for the TransactionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
    	<ion-icon name="menu" menuToggle></ion-icon>
    	Transactions
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-row class="cstmr" *ngFor="let trans of transactions">
		<ion-icon name="close-circle" class="delete-me" (click)="deleteTrans(trans?.id)"></ion-icon>
		<ion-col col-4 (tap)="viewProduct(trans?.properties.productid)">
			<img [src]="trans?.productImg"/>
			<p class="name">{{trans?.productName}}</p>
		</ion-col>
		<ion-col col-8>
			<p class="cust-bar">Purchased by: <b>{{trans?.customerName}}</b></p>
			<p class="unit-bar"><b>{{trans?.properties.amount}}</b> units for <a>{{trans?.totalCost |  currency:'PHP':'symbol-narrow':'1.2-2'}}</a></p>
			<p class="status-bar">Status: <b [ngClass]="{'paid':trans.properties.status == 'paid'}">{{trans?.properties.status}}</b></p>
			<button ion-button (click)="showConfirm(trans.id)" class="payment-btn" *ngIf="trans.properties.status != 'paid'">Confirm Payment</button>
			<p class="dt-bar" *ngIf="trans.properties.status == 'paid'">
				paid on <b>{{trans.updDate}}</b>
			</p>
		</ion-col>
	</ion-row>

	<p class="notice"  *ngIf="transactions.length < 1">
		Nothing here but crickets!
	</p>

</ion-content>
