page-transaction-list {

	font-family:"Century Gothic", sans-serif, Helvetica !important;

	ion-header{
		ion-navbar ion-title, .toolbar-ios ion-title{
			padding-left:12px;
			padding-right:12px;
			.toolbar-title{
				text-align:left;
				line-height:8.5vw;
			}
		}
		ion-icon{

			margin-right:3vw;
		}

		button[ion-button]{
			float:right;
			height:3.5vh;
			background-color: forestgreen;
			color:#fff;
			font-size:2.15vh;
		}
	}

	ion-content{

		&.content .scroll-content{
			background-color:#333;
			color:#fff;

		}

		text-align:center;
		

		ion-row.cstmr{
			padding:2vw;
			box-shadow: 0 0 1px 0 rgba(30,30,30,0.4);
			background-color:#fff;
			margin-bottom:0.25vh;
			margin-top:0.25vh;
			width:100%;
			clear:both;
			position:relative;
			color:#333;


			ion-col{
				&[col-4]{
					text-align:center;

					img{
						width:23vw;
						height:23vw;
						object-fit:cover;
						display:inline-block;
						padding:0 !important;
						margin:auto;
						color:#fff;
						box-shadow: 0 0 1px 0 #333;
						border-radius:20vw;
						background-color:#333;
					}
				}
			}

			p{
				display:block;
				clear:both;
				margin:0;
				width:100%;

				&.name{
					font-size:2vh;
					text-align:center;
					padding:1vh;
					font-weight:bolder;
					text-transform: capitalize;
				}

				&.cust-bar{
					margin:2vh 0;
					b{
						letter-spacing:0.1vh;
						width:auto;
						padding:0 2vw;
					}
				}

				&.unit-bar{
					margin:0 0 2vh;
					a{
						color:rgba(30,30,30,0.9);
						text-decoration:none;
						font-weight:bolder;
					}
				}

				&.status-bar{
					b{	
						color:darkgoldenrod;
						text-transform: uppercase;
						&.paid{
							color:forestgreen;
						}
					}
				}

				&.dt-bar{
					margin-top:1vh;
				}
			}

			button.payment-btn{
				height:4vh;
				background-color: rgba(30,30,30,0.9);
				color:#fff;
				font-size:2.15vh;
				display:inline-block;
				clear:both;
				margin-top:2vh;
			}
		}

	}
}
