<!--
  Generated template for the TransactionListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
    	<ion-icon name="menu" menuToggle></ion-icon>
    	Transactions
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-row class="cstmr" *ngFor="let trans of transactions">
		<ion-col col-4>
			<img [src]="trans?.productImg"/>
			<p class="name">{{trans?.productName}}</p>
		</ion-col>
		<ion-col col-8>
			<p class="cust-bar">Purchased by: <b>{{trans?.customerName}}</b></p>
			<p class="unit-bar"><b>{{trans?.properties.amount}}</b> units</p>
			<p class="status-bar">Status: <b [ngClass]="{'paid':trans.identifiers.status == 'paid'}">{{trans?.identifiers.status}}</b></p>
		</ion-col>
	</ion-row>

	<p class="notice"  *ngIf="transactions.length < 1">
		Nothing here but crickets!
	</p>

</ion-content>
