page-customer-list {
	font-family:'pmc'!important;
	font-weight:bolder !important;

	ion-header{
		ion-navbar ion-title, .toolbar-ios ion-title{
			padding-left:12px;
			padding-right:12px;
			.toolbar-title{
				text-align:left;
				line-height:8.5vw;
			}
		}
		ion-icon{

			margin-right:3vw;
		}

		button[ion-button]{
			float:right;
			height:3.5vh;
			background-color: rgba(30,30,30,0.9);
			color:#fff;
			font-size:2.15vh;
			font-weight:bolder;
		}
	}

	ion-content{

		&.content .scroll-content{
		}

		span.cstmr{
			padding:2vw;
			box-shadow: 0 0 1px 0 rgba(30,30,30,0.4);
			color:#fff;
			margin-bottom:0.25vh;
			display:table;
			width:100%;
			clear:both;
			position:relative;
			background-color:#333;

			ion-icon{
				width:20vw;
				display:inline-block;
				padding:0 !important;
				text-align:center;
				float:left;
				font-size:20vw;
				background-color:#fff;
				box-shadow: 0 0 1px 0 #333;
				border-radius:20vw;
				color:#333;
			}

			div{
				float:left;
				width:75vw;
				display:inline-block;
				padding-left:3vw;
				ion-row{
					text-align:left;
					width:100%;
					display:block;
					clear:both;
					font-size:1.8vh;

					&.name{
						font-size:2.5vh;
						margin:1vw 0;
					}

					&.address{
						margin-bottom:1vw;
						font-weight:bolder;
						color:#fff;
					}

					&.desc{
						min-height:5vh;
						letter-spacing:0.5px;
					}
				}
			}
		}
	}

}
